// Variable overrides

$theme-colors: (
  "primary": #711E82,
  "btnColor": #711E82

);

// $sidebar-bg: #08572d;
// $sidebar-nav-link-hover-color: #2e006b;
$sidebar-nav-link-hover-bg:#711E82;
$sidebar-nav-link-active-bg: #711E82;
